   
   <div id="login">
   <form action="/adminlogin" method="post" class="form-signin">
        <h2 class="form-signin-heading">Admin Sign In</h2>
        <input type="text" placeholder="Admin Username" name="username"><br>
        <input type="password" placeholder="Password" name="password"><br>
        <button class="btn btn-small btn-inverse" type="submit">Sign in</button>
      </form>

      </div>