<div id="content" class="row">
<div class="span8 well">

	<h3>New Blog</h3>

	<form action="/admin/blog" method="post">
		Title:<br><input type="text" name="title"><br>
		<input class="btn btn-inverse" type="submit" value="Save">
	</form>

	<a href="/admin"><i class="icon-arrow-left"></i></a>
</div>
</div>