 <div id="login" class="row">
<div class="span12 well">
<% if @site %>
<h1>You are about to delete <strong><em><%= @site.title %></em></strong>. Are you sure?</h1><br><br>

	<form action=<%= "/admin/site/#{@site.id}" %> method="post">
		<input type="hidden" name="_method" value="delete">
		<input class="btn btn-danger" type="submit" value="Yes">
		<a class="btn btn-inverse" href="/admin">Cancel</a>
	</form>
<% else %>
	<p>Site not found.</p>
<% end %>
</div></div>
