<div id="content" class="row">
<div class="span8 well">
<% if @site %>
	<h3>Site</h3>

	<form action=<%= "/admin/site/#{@site.id}" %> method="post" id="edit">
		<input type="hidden" name="_method" value="put">
		Title:<br><input type="text" name="title" value=<%= @site.title %>><br>
		Content:<br><textarea name="content"><%= @site.content %>
		</textarea><br>
		<input class="btn btn-inverse" type="submit" value="Save">
	</form>

	<a href="/admin"><i class="icon-arrow-left"></i></a>
<% else %>
None
<%end %>
</div>
</div>