<div id="content" class="row">
<div class="span8 well">

	<h3>New Site</h3>

	<form action="/admin/site" method="post">
		Title:<br><input type="text" name="title"><br>
		Content:<br><textarea name="content">
		</textarea><br>
		<input class="btn btn-inverse" type="submit" value="Save">
	</form>
	<a href="/admin"><i class="icon-arrow-left"></i></a>
</div>
</div>